<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8" />
		<title>统计分析</title>
		<!--index.html -->
		<meta http-equiv="pragma" content="no-cache"/>   
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>   
		<meta http-equiv="expires" content="0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
		<link th:href="@{/bootstrap5.0.2/css/bootstrap.min.css}" rel="stylesheet"></link>
		<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"></link>
		<style> 
		.css_red{color:#F00} 
		</style> 
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/logo_32X32.ico}" media="screen" />
		
		
		<script type="text/javascript" th:src="@{/js/jquery-easyui-1.3.3/jquery.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/bootstrap5.0.2/js/bootstrap.min.js}" ></script>
		
		
		<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
		<script type="text/javascript" th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
	</head>
	
	<body>
		
		<div class="container">
			
			<div class="page-content">
				<div class="col-sm-12">
					<h2 class="text-center">
						<a href="/zhangzu/index" class="link-primary">宋帐本统计分析</a>
					</h2>
				</div>
				<br/>
				<div class="col-sm-12 ">
					<h1>
						<small>
							<i class="icon-list-alt"></i>
							统计分析
						</small>
					</h1>
				</div>
				<br/>
				<div id="piechart" style="width: 100%; height: 500px;"></div>
				<br/>
				<br/>
				<br/>
			
				<!--
				年月	支出	收入	余额	买货
				2022/01	9608	0	9608	0
				-->
				<div class="form-group">
					<!-- <table id="sample-table-1" class="table table-striped table-bordered table-hover">
						<thead>
							<tr >

								<th width="20%">年月</th>
								<th width="20%">支出</th>
								<th width="20%">收入</th>
								<th width="20%">余额</th>
								<th width="20%">买货</th>
							</tr>
						</thead>
						<tbody>

						<tr th:each="zz_analysis : ${list_zz_analysis}">
							<td th:text="${zz_analysis.ac}"></td>
							<td th:text="${zz_analysis.ac_min}"></td>
							<td th:text="${zz_analysis.ac_plus}"></td>
							<td th:text="${zz_analysis.ac_result}"></td>
							<td th:text="${zz_analysis.ac_maihuo}"></td>
						</tr>

						</tbody>
					</table> -->
				</div>
				<div class="container">
					<select id="select_list_ac_year" class="form-select" aria-label="Default select example">
						<option
							th:each="zz_analysis : ${list_ac_year}"
							th:value="${zz_analysis.ac_year}"
							th:text="${zz_analysis.ac_year}"
							th:selected="${zz_analysis.ac_year == selectedValue_ac_year}">
						</option>
					</select>
					<select id="select_list_ac_type" class="form-select" aria-label="Default select example">
						<option
							th:each="zz_analysis : ${list_ac_type}"
							th:value="${zz_analysis.ac_type}"
							th:text="${zz_analysis.ac_type}"
							th:selected="${zz_analysis.ac_type == selectedValue_ac_type}">
						</option>
					</select>
					<form action="/analysis/to_analysis_song" method="post">
						<button class="btn btn-info btn-small" type="submit" id="selectedValue_year_type" name="selectedValue_year_type" th:value="${selectedValue_year_type}">查询</button>
					</form>
				</div>
				<div class="alert alert-danger" role="alert" th:text="${alert_count_0}">
					
				</div>
				<!--

				期間（１日～１０日）	期間（１１日～２０日）	期間（２１日～月末）
				5000	5000	5000
				-->
				<div class="form-group">
					<table id="group-by-type-table" class="table table-striped table-bordered table-hover">
					<thead>
						<tr >
							<!--
							<th width="5%">ID</th>
							-->
							<th width="30%">期間（１日～１０日）</th>
							<th width="30%">期間（１１日～２０日）</th>
							<th width="30%">期間（２１日～月末）</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="zz_analysis : ${list_ac_type_ac_min_by_10days}">
							<td th:text="${zz_analysis.ac}"></td><!--期間（１日～１０日）-->
							<td th:text="${zz_analysis.ac_min}"></td><!--期間（１１日～２０日）-->
							<td th:text="${zz_analysis.ac_type}"></td><!--期間（２１日～月末）-->
						</tr>
					</tbody>
					</table>
				</div>
				<!--

				年	支出	分类
				2022	-5000	餐饮饮食
				2022	-3608	李服饰
				2022	-1000	日常用品
				-->
				<div class="form-group">
					<table id="group-by-type-table" class="table table-striped table-bordered table-hover">
					<thead>
						<tr >
							<!--
							<th width="5%">ID</th>
							-->
							<th width="25%">年</th>
							<th width="25%">支出</th>
							<th width="25%">分类</th>
							<th width="25%">操作</th>									
						</tr>
					</thead>
					<tbody>
						<tr th:each="zz_analysis : ${list_zz_type_analysis}">
							<td th:text="${zz_analysis.ac}"></td><!--年-->
							<td th:text="${zz_analysis.ac_min}"></td><!--支出-->
							<td th:text="${zz_analysis.ac_type}"></td><!--支出-->
							<td>
								<form action="/analysis/to_detail" method="post">
									<button class="btn btn-info btn-small" type="submit" name="year_type" th:value="${zz_analysis.year_type}">详细确认</button>
								</form>
							</td>
						</tr>
						
					</tbody>
					</table>
				</div>
							<!--PAGE CONTENT ENDS-->

	</div><!--/.main-container-->

	
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
<script th:inline="javascript">
	//jquery
	// 下拉列表onchange 把新的值给button设定进去
	$("#selectedValue_year_type").val($('#select_list_ac_year').find(":selected").val() + "_" + $('#select_list_ac_type').find(":selected").val());
	$('#select_list_ac_year').on('change', function() {
		$("#selectedValue_year_type").val($('#select_list_ac_year').find(":selected").val() + "_" + $('#select_list_ac_type').find(":selected").val());
		var selectedValue_year_type = $("#selectedValue_year_type");
		// alert(selectedValue_year_type.val())
	});
	$('#select_list_ac_type').on('change', function() {
		$("#selectedValue_year_type").val($('#select_list_ac_year').find(":selected").val() + "_" + $('#select_list_ac_type').find(":selected").val());
		var selectedValue_year_type = $("#selectedValue_year_type");
		// alert(selectedValue_year_type.val())
	});
	var selectedValue_year_type = $("#selectedValue_year_type");
	// alert(selectedValue_year_type.val())
	
</script>
    <script th:inline="javascript">

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		let array_header = ['ac_type', 'ac_min'];
		let list_for_chart = [array_header];
		var row_cnt = 0;
		var list_z_type_analysis_by_year =/*[[${list_z_type_analysis_by_year}]]*/
		
		list_z_type_analysis_by_year.forEach(function(zz_analysis){
			list_for_chart.push([zz_analysis.ac_type, zz_analysis.ac_min]);
		});
		function drawChart() {
			console.log(list_for_chart);
			var data = google.visualization.arrayToDataTable(list_for_chart);

			var options = {
				title: '/*[[${analysis_title_ac_year}]]*/'
			};

			var chart = new google.visualization.PieChart(document.getElementById('piechart'));

			chart.draw(data, options);
		}
		
    </script>
</div>
</body>
</html>