<!DOCTYPE html>
<html>
<head>
	<title>calendar</title>

	<meta name="description" content="Full view calendar component for twitter bootstrap with year, month, week, day views.">
	<meta name="keywords" content="jQuery,Bootstrap,Calendar,HTML,CSS,JavaScript,responsive,month,week,year,day">
	<meta name="author" content="Serhioromano">
	<meta charset="UTF-8">
  
  <link th:href="@{/bootstrap-calendar/components/bootstrap3/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/bootstrap-calendar/components/bootstrap3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/bootstrap-calendar/css/calendar.css?version=0818}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-2.1.4.js" integrity="sha256-siFczlgw4jULnUICcdm9gjQPZkw/YPDqhQ9+nAOScE4=" crossorigin="anonymous"></script>


</head>
<body>
	
<div class="container">
  <!-- 共通部品を呼び出す -->
  <div th:replace="common_bootstrap_3 :: nav3"></div>

  <div class="page-header">
		<BR>
		<div class="pull-right form-inline">
			<div class="btn-group">
				<button class="btn btn-primary" data-calendar-nav="prev"><< 前月</button>
				<button class="btn btn-default" data-calendar-nav="today">　当月　</button>
				<button class="btn btn-primary" data-calendar-nav="next">次月 >></button>
			</div>
		</div>

		<h3></h3>
		
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="calendar" name="calendar"></div>
		</div>

	</div>
	
</div>
  
  <script th:src="@{/bootstrap-calendar/components/underscore/underscore-min.js}"></script>
  <script th:src="@{/bootstrap-calendar/components/bootstrap3/js/bootstrap.min.js}"></script>
	<script th:src="@{/bootstrap-calendar/components/jstimezonedetect/jstz.min.js}"></script>
	<script th:src="@{/bootstrap-calendar/js/language/ja-JP.js}"></script>
	<script th:src="@{/bootstrap-calendar/js/calendar.js?version=0818}"></script>
	
	<script type="text/javascript">
    
    /** 現在のDateオブジェクト作成 */
    var today = new Date(Date.now());
    //console.log(dateFormat("YYYY-mm-dd", today));
    function dateFormat(fmt, date) {
      let ret;
      const opt = {
          "Y+": date.getFullYear().toString(),        // 年
          "m+": (date.getMonth() + 1).toString(),     // 月
          "d+": date.getDate().toString(),            // 日
          "H+": date.getHours().toString(),           // 時
          "M+": date.getMinutes().toString(),         // 分
          "S+": date.getSeconds().toString()          // 秒
      };
      for (let k in opt) {
          ret = new RegExp("(" + k + ")").exec(fmt);
          if (ret) {
              fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
          };
      };
      return fmt;
    }


    (function($) {
      "use strict";
      console.log("calendar init start");
      var options = {
        events_source: '../li_api_calendar',
        view: 'month',
        tmpl_path: '../',
        tmpl_cache: false,
        language: 'ja-JP',
        day: dateFormat("YYYY-mm-dd", today),
        onAfterEventsLoad: function(events) {
          if(!events) {
            return;
          }
          var list = $('#eventlist');
          list.html('');

          $.each(events, function(key, val) {
            $(document.createElement('li'))
              .html('<a href="' + val.url + '">' + val.title + '</a>')
              .appendTo(list);
          });
        },
        onAfterViewLoad: function(view) {
          $('.page-header h3').text(this.getTitle());
          $('.btn-group button').removeClass('active');
          $('button[data-calendar-view="' + view + '"]').addClass('active');
        },
        classes: {
          months: {
            general: 'label'
          }
        }
      };

      var calendar = $('#calendar').calendar(options);

      $('.btn-group button[data-calendar-nav]').each(function() {
        var $this = $(this);
        $this.click(function() {
          calendar.navigate($this.data('calendar-nav'));
          console.log("ボタン押した"+$this.data('calendar-nav'));
          //dep_change();
          //calendar.language('ja-JP');
        });
      });

      $('.btn-group button[data-calendar-view]').each(function() {
        var $this = $(this);
        $this.click(function() {
          calendar.view($this.data('calendar-view'));
        });
      });

      $('#first_day').change(function(){
        var value = $(this).val();
        value = value.length ? parseInt(value) : null;
        calendar.setOptions({first_day: value});
        calendar.view();
      });

      $('#language').change(function(){
        calendar.setLanguage($(this).val());
        calendar.view();
      });

      $('#events-in-modal').change(function(){
        var val = $(this).is(':checked') ? $(this).val() : null;
        calendar.setOptions({modal: val});
      });
      $('#format-12-hours').change(function(){
        var val = $(this).is(':checked') ? true : false;
        calendar.setOptions({format12: val});
        calendar.view();
      });
      $('#show_wbn').change(function(){
        var val = $(this).is(':checked') ? true : false;
        calendar.setOptions({display_week_numbers: val});
        calendar.view();
      });
      $('#show_wb').change(function(){
        var val = $(this).is(':checked') ? true : false;
        calendar.setOptions({weekbox: val});
        calendar.view();
      });
      $('#events-modal .modal-header, #events-modal .modal-footer').click(function(e){
        //e.preventDefault();
        //e.stopPropagation();
      });
    }(jQuery));
	</script>
 
</body>
</html>
