<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8" />
		<title>统计分析(柱状图)Looker</title>
		<!--index.html -->
		<meta http-equiv="pragma" content="no-cache"/>   
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>   
		<meta http-equiv="expires" content="0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
		<link th:href="@{/bootstrap3.0.0/css/bootstrap.min.css}" rel="stylesheet"></link>
		<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"></link>
		<style> .css_red{color:#F00} </style> 
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/logo_32X32.ico}" media="screen" />
		
	</head>
	
	<body>
		<div class="container">
			<div class="page-content">
				<div class="col-sm-12">
					<h2 class="text-center">
						<a href="/song/index">宋帐本2022</a>
					</h2>
				</div>
				<br/>
				<div class="col-sm-12 ">
					<h2> <span class="badge bg-secondary">统计分析 柱状图(Looker)</span></h2>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>

				<iframe width="100%" height="1024" src="https://datastudio.google.com/embed/reporting/739e2f0e-880a-4042-9396-663e2c0224da/page/spQ5C" frameborder="0" style="border:0" allowfullscreen></iframe>




			</div><!--PAGE CONTENT ENDS-->

		</div><!--/.main-container-->


</body>
</html>